@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
* {
    margin: 0;
    font-family: 'Roboto Condensed', arial, sans-serif;
    outline: 0;
}

body {
    background-color: #fff;
}
li {
    list-style: none;
}

nav {
    background-color: #000;
    color: white;
}
nav ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav li {
    
    padding: 1%;
    box-sizing: content-box;
    text-align: center;
    flex-grow: 1;
    cursor: pointer;
    transition: .2s;
}
nav li:first-child {
    flex-grow: 0;
    cursor: default;
    background-color: #333;
    display: flex;
    justify-content: center;
}
nav .logo {
    width: 30px;
    height: 30px;
    padding-right: 10px;
    background-size: stretch;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(img/logo.png);
}
nav li:hover {
    background-color: #333;
}
nav a {
    display: block;
    height: 100%;
    color: white;
    text-decoration: none;
}

#disabledFunction {
    opacity: .5;
    cursor: default;
}

.banner {
    background-size: stretch;
    background-position: center;
    background-repeat: no-repeat;
    background-color: blue;
    height: 30vh;
}

#content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    left: 50%;
    height: 100vh;
    transform: translateX(-50%);
    width: 80vw;
}

#content h1 {
    margin: 3vh;
    text-align: center;
    text-transform: uppercase;
    color: #b2c52e;
}

#content .desc {
    text-align: justify;
}
#content button {
    position: absolute;
    bottom: -5vh;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    display: block;
    margin-top: 5vh;
    font-size: 18px;
    padding: 20px 25px;
    border-style: none;
    border-radius: 20%;
    background-color: #b2c52e;
    text-transform: uppercase;
}

#content .imgBoard {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#content .imgBoard div {
    flex-basis: 40%;
    height: 20vh;
}
#content .img1 {
    background-color: blue;
}
#content .img2 {
    background-color: yellow;
}
#content .img3 {
    background-color: red;
}
#content .img4 {
    background-color: green;
}

.downBanner {
    background-size: stretch;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 10vh;
    background-color: blue;
    height: 30vh;
}