
section#top {
    height: 40vh;
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
}

section#top #profile {
    display: flex;
    padding: 3%;
    width: 80%;
}

#profile .photo {
    
    width: 20vh;
    height: 20vh;
    overflow: hidden;

}

.photo img {
    display: block;
    width: 100%;
    height: 100%;
 
}
.info {
    display: flex;
    width: 50vw;
    flex-direction: column;
    justify-content: center;
}

.info p {
    margin: 2%;
}

.info p:first-child {
    font-size: 30px;
    text-transform: uppercase;
    color: #b2c52e;
}

.settings {
    margin-right: 5vw;
    width: 20vw;
    height: 60%;
  
}

.settings ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;

}
.settings li {
    cursor: pointer;
    text-align: right;
    flex-basis: 10%;
    text-transform: lowercase;
    opacity: .7;
    transition: .3s;
}

.settings li:hover {
    text-decoration: underline;
}

#lessonHub .list {
    margin: 5vh 2vw 0 3vw;
    min-height: 30vh;
}
.list ul {
    opacity: .7;
    padding: 0;
}

.list li {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-bottom: 1px solid black;
    padding: 15px 0 5px 8px;
}

.list span {
    cursor: pointer;
}
#lessonHub h2 {
    display: block;
    padding: 0;
    margin: 0 5vw;
    color: #b2c52e;
}

#lessonHub .bottom {
    padding: 0 10vw;
    text-align: right;
}
#lessonHub .addClass {
   display: inline;
   padding: 20px 70px;
   background-color: #b2c52e;
   border-style: none;
   text-transform: uppercase;
   color: white;
   font-size: 20px;
   border-radius: 20%;
   cursor: pointer;
}